{% extends 'bases/base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="card-link" style="text-decoration: none; color: white;">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="fonte-destaque">RS {{ novo_valor }}</span>
                            </div>
                            <div class="col-md">
                                <img class="icone-setas" src="{% static 'perfil/img/entradas.png' %}" alt="Seta para entradas">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="card-link" style="text-decoration: none; color: white;">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="fonte-destaque">RS {{ novo_valor }}</span>
                            </div>
                            <div class="col-md">
                                <img class="icone-setas" src="{% static 'perfil/img/saidas.png' %}" alt="Seta para saídas">
                            </div>
                        </div> 
                    </div>
                </a>
            </div>
        </div>
        <br>
        <br>
       
        <div class="row">
            <!-- Coluna de saldo -->
            <div class="col-md-4">
                <div class="card">
                    <div class="saldo">
                        <span class="fonte-destaque">Saldo total</span>
                        <br>
                        <span class="font-light">R$ {{ novo_valor }}</span>
                    </div>
                    <hr class="hr-borda">
                    <span class="fonte-destaque">Suas contas</span>
                    <a href="/perfil/deletar_banco/{{ conta.id }}"><img src="{% static 'perfil/img/exit.png' %}" alt="Ícone de saída"></a>
                    <div class="div-contas">
                        {% for conta in contas %}
                            <div class="lista-conta">
                                <span>{{ conta.apelido }}</span>
                                <span class="total-conta">{{ conta.valor }}</span>
                            </div>
                            <br>         
                        {% endfor %}                        
                    </div>
                    <hr class="hr-borda">
                    <a href="{% url 'gerenciar' %}" class="botao-principal">Gerenciar contas</a>
                </div>
            </div>

            <!-- Coluna de saldo mensal e despesa -->
            <div class="col-md-8">
                <div class="card">
                    <div class="row">
                        <div class="col-md">
                            <div class="saldo">
                                <span class="fonte-destaque">Saldo mensal</span>
                                <br>
                                <span class="font-light">R$ {{ novo_valor }}</span>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="despesa">
                                <span class="fonte-destaque">Despesa mensal</span>
                                <br>
                                <span class="font-light">R$ {{ novo_valor }}</span>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-borda">
                    <span class="fonte-destaque">Total livre</span>
                    <span class="font-light negativo">R$ {{ novo_valor }}</span>
                    <hr class="hr-borda">
                    <a href="#" class="botao-principal">Gerenciar dados mensais</a>
                </div>
            </div>
        </div>
        <br>

        <!-- Outras seções da página -->
    </div>
{% endblock %}